.floor {
  opacity: 100%;
}

h1 {
  color: grey;
  font-family: arial;
  margin: 10px 0px 15px 1px;
}

h3 {
  margin: 0px;
}

table,tr,th,td {
  font-size: 12px;
  color: grey;
}

table {
  width: 130px;
}

.month_cal {
  position: relative;
  text-align: center;
  color: grey;
  float: left;
  width: 130px;
  padding-right: 10px;
}

.date {
  padding-top:3px;
  position: relative;
  float: left;
  width: 34px;
  text-align: center;
}

p {
  position: relative;
  float: left;
  color: grey;
  font-size: 30px;
}

.month {
  color: grey;
  font-size: 15px;
}

.day {
  color: grey;
  font-size: 18px;
}
.title {
  position: relative;
  font-family: arial;
  float: left;
  color: grey;
  font-size: 18px;
  width: 238px;
  padding-left:8px;
  padding-top: 4px;
  line-height: 16px;
  vertical-align: middle;
}

.event{
  height: auto;
  display: inline-block;
}

.img-overlay-wrap {
  position: relative;
  float: left;
  width: 1050px;
}

.list_view {
  position: relative;
  height: 510px;
  float: top;
}

.calendar_view {
  position: relative;
  float: bottom;
}

.events {
  position: relative;
  float: right;
  background-color: black;
  width: 280px;
  height: 752px;
}
 
.img-overlay-wrap img { /* <= optional, for responsiveness */
   width: 100%;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.warning {
  opacity: 50%;
  width: 50%;
}

polygon {
  border-color: red;
  border-radius: 20px;
}
body {
  background-color: black;
}
/*
.r1r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 1%;
}
.r2r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 2%;
}
.r5r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 5%;
}
.r10r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 10%;
}
.r20r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 20%;
}
.r30r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 30%;
}
.r40r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 40%;
}
.r50r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 50%;
}
.r60r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 60%;
}
.r70r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 70%;
}
.r80r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 80%;
}
.r90r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 90%;
}
.r100r {
  width: 200px;
  height: 20px;
  background-color: red;
  opacity: 100%;
}
*/