.floor {
  opacity: 100%;
}

.date {
  position: block;
}

p {
  position: relative;
  float: left;
  color: grey;
  font-size: 30px;
}

.img-overlay-wrap {
  position: relative;
  float: left;
  width: 1050px;
}

.list_view {
  position: relative;
}

.calendar_view {
  position: relative;
}

.events {
  position: relative;
  float: right;
  background-color: black;
  width: 280px;
  height: 752px;
}
 
.img-overlay-wrap img { /* <= optional, for responsiveness */
   width: 100%;
}

.img-overlay-wrap svg {
  position: absolute;
  top: 0;
  left: 0;
}

.warning {
  position: absolute;
  opacity: 0;
}

polygon {
  border-color: red;
  border-radius: 20px;
}
body {
  background-color: black;
}